
-- 1. Test Action 'C' (New Customer ID: 999)

DECLARE @newCustomerJson NVARCHAR(MAX) = N'[
    {
        "customer_id": 999,
        "first_name": "Alice",
        "last_name": "Wonderland",
        "dob": "1988-11-23",
        "phone": "5551234567",
        "email": "alice.w@alt-email.com",
        "address": "Los Angeles"
    }
]';

PRINT 'Testing Action C with new data...';
EXEC Savedetails @Action = 'C', @json = @newCustomerJson;


-- 2. Test Action 'A' (New Account ID: 8888, Linked to Customer 999)
DECLARE @newAccountJson NVARCHAR(MAX) = N'[
    {
        "account_id": 8888,
        "customer_id": 999,
        "branch_id": 202,
        "account_type": "Checking",
        "balance": 7500.50,
        "opened_date": "2026-03-15"
    }
]';

PRINT 'Testing Action A with new data...';
EXEC Savedetails @Action = 'A', @json = @newAccountJson;


-- 3. Test Action 'T' (New Transaction ID: 77777, Linked to Account 8888)
DECLARE @newTransactionJson NVARCHAR(MAX) = N'[
    {
        "transaction_id": 77777,
        "account_id": 8888,
        "transaction_type": "Withdrawal",
        "amount": 250.00,
        "transaction_date": "Jul 25 2026 03:45PM"
    }
]';

PRINT 'Testing Action T with new data...';
EXEC Savedetails @Action = 'T', @json = @newTransactionJson;


-- 4. Test Action 'L' (New Loan ID: 666, Linked to Customer 999)
DECLARE @newLoanJson NVARCHAR(MAX) = N'[
    {
        "loan_id": 666,
        "customer_id": 999,
        "loan_amount": 45000.00,
        "interest_rate": 5.75,
        "loan_type": "Car Loan",
        "loan_date": "2026-05-20"
    }
]';

PRINT 'Testing Action L with new data...';
EXEC Savedetails @Action = 'L', @json = @newLoanJson;


-- ========================================================
-- VERIFY THE NEW INSERTED DATA
-- ========================================================
PRINT 'Verifying alternative test data...';

SELECT * FROM Customers WHERE customer_id = 999;
SELECT * FROM Accounts WHERE account_id = 8888;
SELECT * FROM Transactions WHERE transaction_id = 77777;
SELECT * FROM Loans WHERE loan_id = 666;
